<h2>APIs</h2>
<div class='input-group'>
  <div class='input-group-addon'>
    <span class='glyphicon glyphicon-search'></span>
  </div>
  <input type='search' class='form-control' id='api-filter' placeholder='Type to filter APIs'>
  <span class='collapsed btn-close glyphicon glyphicon-remove-sign hidden'></span>
</div>
<nav class='navbar navbar-default'>
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="sidebar-toggle collapsed btn btn-default" id='toggle-classes' data-target='#classes-collapse'>
      Classes
      <span class='collapsed glyphicon glyphicon-chevron-up'></span>
      <span class='expanded glyphicon glyphicon-chevron-down'></span>
    </button>
    <button type="button" class="sidebar-toggle collapsed btn btn-default" id='toggle-modules' data-target='#modules-collapse'>
      Modules
      <span class='collapsed glyphicon glyphicon-chevron-up'></span>
      <span class='expanded glyphicon glyphicon-chevron-down'></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class='collapse' id='classes-collapse'>
    <ul class='nav navbar-nav'>
      {{#classes}}
        <li class=''>
          <a href='{{../projectRoot}}classes/{{name}}.html'>{{displayName}}</a>
        </li>
      {{/classes}}
    </ul>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class='collapse' id='modules-collapse'>
    <ul class='nav navbar-nav'>
      {{#allModules}}
        <li class=''>
          <a href='{{../projectRoot}}modules/{{name}}.html'>{{displayName}}</a>
        </li>
      {{/allModules}}
    </ul>
  </div>
  <!-- /.container-fluid -->
</nav>