<!DOCTYPE html>
<html lang='en'>
<head>
	<title>{{projectName}} v{{projectVersion}} API Documentation : {{name}}</title>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
	<link rel='shortcut icon' type='image/png' href='{{projectAssets}}/images/favicon.ico?v={{projectVersion}}'>
	<link href='{{googleFontsUrl}}' rel='stylesheet' type='text/css'>
	<link rel='stylesheet' type='text/css' href='{{projectAssets}}/css/libraries.css?v={{projectVersion}}'>
	<link rel='stylesheet' type='text/css' href='{{projectAssets}}/css/main.css?v={{projectVersion}}'>
</head>
<body>
<header>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class='container'>
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#docs-navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href='{{projectUrl}}'>
					{{#if projectLogo}}
						<img src='{{projectLogo}}' class="logo">
					{{else}}
						<img src='{{projectAssets}}/images/logo.png?v={{projectVersion}}' class="logo">
					{{/if}}
					<span class='project-name'>{{projectName}}</span>
					<span class="sr-only">API Documentation for:</span>
					<span class='version hidden-xs'>v{{projectVersion}}</span>
				</a>
			</div>
			<div class="collapse navbar-collapse" id="docs-navbar">
	      <ul class="scope-toggles text-center nav navbar-nav navbar-right">
					<li><input class='scope-toggle' 
						id='toggle-inherited' 
						type='checkbox' 
						data-toggle='toggle' 
						data-on='Inherited' 
						data-off='Inherited' 
						data-size='mini'
						data-width='80'>
					</li>
					<li><input class='scope-toggle' 
						id='toggle-protected' 
						type='checkbox' 
						data-toggle='toggle' 
						data-on='Protected' 
						data-off='Protected' 
						data-size='mini'
						data-width='80'>
					</li>
					<li><input class='scope-toggle' 
						id='toggle-private' 
						type='checkbox' 
						data-toggle='toggle' 
						data-on='Private' 
						data-off='Private' 
						data-size='mini'
						data-width='80'>
					</li>
					<li><input class='scope-toggle' 
						id='toggle-deprecated' 
						type='checkbox' 
						data-toggle='toggle' 
						data-on='Deprecated' 
						data-off='Deprecated' 
						data-size='mini'
						data-width='80'>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
<div class='container'>
<div class='row'>
<nav id='sidebar' class='col-sm-4 col-md-3'>
{{>sidebar}}
</nav>
<div class='col-sm-8 col-md-9'>
<div id='docs-main' class='apidocs'>
{{>layout_content}}
</div>
</div>
</div>
</div>
<script src='{{projectAssets}}/js/libraries.js?v={{projectVersion}}'></script>
<script src='{{projectAssets}}/js/main.js?v={{projectVersion}}'></script>
</body>
</html>